@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

html{
    scroll-behavior: smooth;
}
body{
    background-color: #f8ecd5;
}
.container{
    margin: auto;
    width: 86%;  
}

header{
    margin-top: 30px;
    margin-bottom: 30px;
}